/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  display: block;
}

/* ====================================
// base rules
// ==================================== */

header div {
  background-color: #e7e7db;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.border_img {
  border-top: solid #df0000;
  border-bottom: solid #df0000;
}

h1 {
  font-size: 36px;
}

.red {
  color: #df0000;
  margin-top: 25px;
  margin-bottom: 10px;
}

.black {
  margin-bottom: 25px;
}

hr {
  color: #df0000;
}

.intro {
  font-size: 21px;
  margin: 22px 37px 38px 37px;
}

h2 {
  font-size: 21px;
  padding: 20px 0 20px 0;
}

p {
  margin: 0 37px 36px 37px;
}

main div {
  background: #df0000;
  display: flex;
  justify-content: center;
  padding: 25px 90px 25px 90px;
}

main img {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.button {
  background-color: #df0000;
  box-shadow: 3pxs;
  margin: 30px 141px 66px 141px;
  border-radius: 8px;
  padding: 7px 12px 7px 12px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

footer {
  background-image: url(../_consigne/images/background.png);
  background-size: cover;
  color: white;
}

footer h3 {
  padding-top: 22px;
}

ul {
  color: #df0000;
  list-style: none;
  margin: 40px 0 31px 0;
}

footer p {
  padding: 31px 0 37px 0;
}
